


/* Conteúdo-principal */

/* Primeiro Banner */
.banner-principal {
    color: var(--branco);

    height: 70vh;
    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /* overflow: hidden; Evitem que os elmentos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;
    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
}

.botao:hoover {
    background-color: #2ab2ab;
    color: var(--branco);
    /* cursor: pointer; */
    transition: 0.3s;

    text-transform: uppercase;
}


.banner-principal img {
    align-self: flex-end;
    width: 35%;

}

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
    margin-bottom: 50px;
}

/* sEÇÃO BENEFÍCIOS*/

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 50px;
}

.beneficios-lista {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    gap: 10%;
    margin-bottom: 50px;
    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;
    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);   /*x -> y --> blur -> cor com transparência*/
    text-align: center;

/* Cria referência de posicionamento para o ícone, quando o ícone for poicionado, usa esse card como referência */
/* sSem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o ícone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* MOve o círculo para cima, o valor negativo faz ele sair praticamente do card */
    top: -15%;

    /* Coloca o começo do elemento em 50% da largura do card */
    left: 50%;

    /*Ajustamos o posicionamento do elemento, mas a borda esquerda do círculo fica no centro, não o círculo inteiro, por isso usamos o transform: translateX(-50%); que move o próprio círculo para a esquerda em 50% da largura dele, ficando perfeitamente centralizado*/
    transform: translateX(-50%);

    display: grid;
    place-items: center;
    /* place-itens:center; é a mesma coisa que colocar: align-items:center; e justify-content:center; */
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 80%;
}


.beneficio p {
    font-size: 1em;
    width: 80%;
}

/* Banner do meio */
.banner-meio {
    height: 60vh;
    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

/* Seção de recomendação */
.recomendacao .titulo-secao {
    display: flex;
    padding: 50px;
}


/* Container principal - */
.recomendacao-lista {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 50px; 
    margin-bottom: 100px;
}


.recomendacao-item {
    display: flex;
    flex-direction: column; 
    width: 200px; 

    align-items: center;
    text-align: center;
}

/* A capa do livro */
.recomendacao-item img {
    width: 100%; 
    height: auto;
    margin-bottom: 12px; 
}

/* O título do livro */
.recomendacao-item h3 {
    font-size: 16px;
    margin: 0 0 5px 0; 
}
/* Autor(a):*/
.recomendacao-item h4 {
    font-size: 14px;
    margin: 0; 
}

/* O nome do autor */
.recomendacao-item p {
    font-size: 14px;
    margin: 2px 0 0 0; 
}


/* Footer */

.footer{
    background-color: var(--azul-escuro);
    height: 447px;
    padding:100px 120px 59px;
    
}
.footer-cima{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    margin-bottom: 40px;
}
.footer-logos{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-infos {
    display: flex;
    flex-direction: column;
    gap: 70px; 
}

.footer-menus{
    display: flex;
    gap: 200px;
}

.footer-coluna {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.footer-coluna h4, .footer-social h4{
    color: var(--cor-destaque);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.footer-coluna a {
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
}



.footer-social{
    display: flex;
    gap: 150px;
}

.icones-social {
    display: flex;
    gap: 15px; /* Espaço entre as bolinhas das redes sociais */
}

/* LINHA SEPARADORA ------------------------------------------------------- */
.footer footer-separador{
    background-color: var(--branco);
    border: none;
    width: 500px;
    height: 2px;
    margin-bottom: 40px;
}

.footer-inferior{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 12px;
    color: var(--branco);
    gap: 20px;
}

.recomendacao-item img {
    height: 300px;
}